<div class="row">
    <div class="col">
        <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#add"
            >Add</button>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Title</th>
                    <th>Body</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of posts">
                    <td>{{item?.id}}</td>
                    <td>{{item.title}}</td>
                    <td>{{item.body}}</td>
                    <td><button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#edit" type="button"
                            (click)="Edit(item)">Edit</button></td>
                    <td><button class="btn btn-danger" type="button"
                            (click)="Delete(item)">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- The Modal -->
<div class="modal" id="edit">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Edit Data</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form [formGroup]="editForm">
                    <div class="row">
                        <div class="col">
                            <input type="text" formControlName="id">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input type="text" formControlName="title">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input type="text" formControlName="body">
                        </div>
                    </div>
                </form>
                
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                <button class="btn btn-primary" (click)="updateData(editForm.value)">Update</button>
            </div>

        </div>
    </div>
</div>


<!-- The Modal -->
<div class="modal" id="delete">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Modal Heading</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                Modal body..
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<!-- The Modal -->
<div class="modal" id="add">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-body">
                <form [formGroup]="addForm">
                    <div class="row">
                        <div class="col">
                            <input type="text" formControlName="id">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input type="text" formControlName="title">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input type="text" formControlName="body">
                        </div>
                    </div>
                </form>
                
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primagy" (click)="Add()" data-bs-dismiss="modal">Add</button>
            </div>

        </div>
    </div>
</div>